.Img {
	max-width: 100%;
	max-height: 100%;
	width: 380px;
	height: auto;
	display: block;
	padding: 8px;
	background-color: #043b4e73;
	backdrop-filter: blur(1px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	box-shadow: 0 8px 32px #1f268766;
}
