@import 'reset';
//переменные
$minwidth: 320px;
$pd: 30px;
$maxWidth: 1920;
$maxWidthContainer: 1000;
$md1: $maxWidthContainer+$pd;

html,
body,
#root {
    height: 100%;
    min-width: $minwidth;
}

body {
    // position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.App {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: url(./img/bg.png) no-repeat center/cover;
}

.container {
    max-width: $md1;
    width: 100%;
    margin: 0 auto;
    padding: 0 calc($pd/2);
}

.main {
    flex: 1 1 auto;
}

.footer {
    flex: 0 0 auto;
}

hr {
    background-color: white;
    height: 1px;
}

// ползунок справа
::-webkit-scrollbar {
    width: 12px;
}

/* место движения ползунка*/
::-webkit-scrollbar-track {
    background: rgba(122, 193, 223, 0.788);
}

/* ползунок */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.898);
    border-radius: 8px;
    border: 1px solid #009dff;
    transition: background .3s;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 179, 255, 0.863);
}

// внутри инпута увеличение и уменьшение
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table {
    border-collapse: collapse;
}

.main {

    &__inner,
    &__screen {
        display: flex;
        flex-direction: column;
    }

    &__screen .container {
        position: relative;
    }
}

.solution {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: rgba(12, 46, 110, 0.4); //0C2E6E+
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);
}

.section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 20px;
    padding: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 10px;
    font-weight: 300;
    color: white;
    background-color: rgba(69, 180, 227, 0.2);
    background-color: rgba(4, 59, 78, 0.5);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);

    &__title {
        padding-bottom: 5px;
        margin-bottom: 15px;
        font-size: 23px;
        font-weight: 500;
        text-align: center;
        border-bottom: 1px solid white;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        column-gap: 15px;
        font-size: 18px;
    }

    &__label {
        b {
            font-weight: 500;
        }
    }

    &__input {
        width: 75px;
        height: 25px;
        padding-left: 10px;
        border: none;
        background: transparent;
        border-radius: 5px;
        outline: none;
        background: rgba(255, 255, 255, 0.25);
        background: hsla(195, 40%, 53%, 0.75);
        backdrop-filter: blur(3px);
        color: white;
    }
}

.img {
    width: 380px;
    padding: 10px;
    background-color: rgba(1, 38, 51, 0.5); //012633
    background-color: rgba(12, 46, 110, 0.5); //#0C2E6E
    background-color: rgba(4, 59, 78, 0.45); //как у формы
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);
}

.change_lengthFan {
    box-shadow: 0px 0px 30px 2px rgba(0, 157, 255, 0.5);
}

// зелёный
// #2EC716
// #3F9532
// #188107
// #60E34C
// #83E374

// синий
// #204BA0
// #304878
// #0A2A68
// #537DD0
// #7493D0